@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lacquer&display=swap');
@import "tailwindcss";

.lacquer{
  font-family:"Lacquer";
}

.bebas{
  font-family:"Bebas neue";
}

.text{
    text-shadow:-6px 6px 1px black;
}

.album-box{
  box-shadow:20px 20px black;
}

.stop{
  animation-name:makeround;
  animation-duration:0.5s;
  animation-iteration-count: infinite;
}

.dance{
  animation-name:dancer;
  animation-duration: 2s;
  animation-iteration-count: infinite;

}
.dance-opposite{
  animation-name: dancer-opposite;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes makeround {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes dancer{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(-20deg);}
  50%{transform:rotate(0deg);}
  75%{transform:rotate(-20deg)}
  100%{transform:rotate(0deg)}
}

@keyframes dancer-opposite{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(20deg);}
  50%{transform:rotate(0deg);}
  75%{transform:rotate(20deg)}
  100%{transform:rotate(0deg)}
}


